/* CSS declarations go here */


.login {
  width:250px;
  height:300px;
  border-radius:4px;
  box-shadow:-2px 2px 21px #190A0A;
  position:absolute; top:30px;
  right:30px;
  z-index:1;
  background-color:#fff;
  text-align:center;
}

.login input {
  width:180px !important;
  margin:auto !important;
}

body {
  background-image: url("background1.jpg");
}

h1 {
  font-family: Apple Chancery, cursive !important;
  font-size: 3rem !important;
  padding: 0.1em !important;
}

h4 {
  cursor: pointer;
}

#header {
  float: left;
  width: 18%;
}

#map {
        height: 400px;
        width: 100%;
}

.hidden {
  display: none;
}

.description-box {
  width: 100%;
  height: 56px;
  overflow:hidden;
}

.description-box.show {
  height: auto;
  overflow: visible;
}


.city-image {
  width: 128px;
  height: 128px;
}

#cityName {
  font-family: Apple Chancery, cursive;
  color: black;
}

.center {
  padding: 10px;
  margin-left: 40%;
}

.location-div {
  display: inline-block;
  margin-left: 100px;
}

.city {
  cursor: pointer;
}

#cityName:hover {
  text-shadow: 0 0 3px #4286f4, 0 0 5px #0000FF;
}

button {

  margin-left: 4px !important;

}

.center.err-msg {
  color: #cc0000;
  margin-left: 45% !important;
}

a {
  text-decoration: none !important;
}
