<template name="Header">
  <div style="width: 100%; overflow: hidden;">
    <div id="header">
      <a href="/home">
        <h1 class="ui header">Weather Now</h1>
      </a>
    </div>
    {{#unless currentUser}}
    <i style="position:absolute;top:10px;right:10px;z-index:1;cursor:pointer" class="sign in big icon"></i>
    {{/unless}}
    {{#if currentUser }}
    <div id="currentSignedUser" style="display:inline-block;position:absolute;top:10px;right:10px">
      <p style="display:inline-block; margin-right: 10px">{{currentUser}}</p>
      <p id="signOutButton" style="display:inline-block; cursor: pointer">Sign out</p>
    </div>
    {{/if}}
    {{#if showSideBar}}
      <div class="login">
          {{#if openForm 'signUp'}}
        <form id="signUpForm" class="ui form" method="post">
          <div class="field">
            <label>Your E-mail</label>
            <input id="signUpEmailInput" name="email" type="text" placeholder="Your E-mail">
          </div>
          <div class="field">
            <label>Your password</label>
            <input id="signUpPasswordInput" name="password" type="password" style="display:block" placeholder="Your password">
          </div>
          <div class="field">
            <label>Re-enter password</label>
            <input id="reenterPasswordInput" name="confirmPassword" type="password" style="display:block" placeholder="Re-enter password">
          </div>
          <button id="signUpButton" type="submit" class="ui button" name="button">Sign up</button>
          <div style="padding-top:10px">
            <p style="display:inline-block">or</p>
            <p id="toSignIn" style="display:inline-block; padding-left:3px; cursor:pointer"> Sign in</p>
          </div>
        </form>
          {{else}}
        <form id="signInForm" class="ui form" action="index.html" method="post">
          <div class="field">
            <label>Your E-mail</label>
            <input id="signInEmailInput" name="email" type="text" placeholder="Your E-mail">
          </div>
          <div class="field">
            <label>Your password</label>
            <input id="signInPasswordInput" name="password" type="password" style="display:block" placeholder="Your password">
          </div>
          <button id="signInButton" type="submit" class="ui button" name="button">Sign in</button>
          <div style="padding-top:10px">
            <p style="display:inline-block">or</p>
            <p id="toSignUp" style="display:inline-block; padding-left:3px; cursor: pointer"> Sign up</p>
          </div>
        </form>
        {{/if}}
      </div>
    {{/if}}
  </div>


</template>
